# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$*

# Excel and PDF files (avoid pushing large data files to GitHub)
*.xlsx
*.xls
*.pdf

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Environments
.venv/
venv/
ENV/
env/
